# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>Overview of Data Science Tools</li>
    <li>Popular languages for Data Science</li>
    <li>Commonly Used Libraries for Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>Matplotlib</li>
</ol>

| Data Science Tools |
| --------------- |
| Jupyter Nootbook | 
| VSCODE| 
| GITHUB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author

Fahad Zia